.column1 {
 background-color: rgb(18, 85, 18);
 width: 50%;
 float: left;
 height: 1000px;
 position: static;
}

.column1 h1 {
  font-family: 'Avenir Next';
  font-style: italic;
}

.column2{
  background-color: bisque;
  height: 1000px;
}

p {
  width: 60%;
  margin-left: 60px;
  font-style: italic;
  text-align: justify;
  font-family: 'Letter Gothic Std';
  line-height: 1.5;
  color: whitesmoke;
  opacity: .9;
}

.centered-image {
  margin: auto;
  margin-top: 10px;
  background-color: rgb(255, 238, 218);
  border: solid rgb(230, 207, 179);
  border-width: 7px;
  border-radius: 12px;
  padding: 20px;
  width: 80%;
  height: 70%;
  aspect-ratio: 1;
  display: block;
}

.site-descrip {
  width: 70%;
  font-style: italic;
  text-align: left;
  font-size: 14px;
  font-family: 'Letter Gothic Std';
  line-height: 1.5;
  color: rgb(21, 20, 20);
  opacity: .9;
  margin-top: 10px;
}