.column1 {
 background-color: bisque;
 width: 50%;
 float: left;
 height: 850px;
 position: static;
}

.column2{
  background-color: rgb(18, 85, 18);
  width: 50%
  float: right;
  height: 850px;
  position: static;
}

.column2a {
  width: 50%;
  float: left;
}

.column2b {
  width: 50%;
  float: right;
}

p {
  width: 60%;
  margin-left: 60px;
  font-style: italic;
  text-align: justify;
  font-family:Verdana;
  line-height: 1.5;
}

.centered-image {
  margin: 12px;
  background-color: rgb(223, 218, 218);
  border: solid black;
  border-width: 1.5px;
  padding: 10px;
  display: block;
  width: 80%;
}